

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/icons/header.svg');
}

.header .photo{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.header .title{
    font-family: 'Neue Machina';
    text-align: center;
    font-weight: 200;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1rem;
}

.information p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    filter: invert(62%) sepia(80%) saturate(2264%) hue-rotate(150deg) brightness(101%) contrast(105%);
}

.information .job::before {
    background-image: url('/assets/img/icons/job.svg');
}

.information .location::before {
    background-image: url('/assets/img/icons/location.svg');
}

.information .email::before {
    background-image: url('/assets/img/icons/email.svg');
}

@media only screen and (min-width: 768px) {
    .header{
       display: flex;
       flex-direction: row;
       position: relative;
    }

    .header .photo{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .header .text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header .title{
        text-align: start;
        max-width: 200px;
    }
   
  }

